/* App.css */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* App container */
h1 {
  text-align: center;
  color: #222;
}

/* Filter & Add Movie */
input {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 15px;
  margin: 5px;
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e84118;
}

/* Movie List */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Movie Card */
.movie-card {
  background-color: white;
  width: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card h3 {
  margin: 10px 0;
  color: #333;
}

.movie-card p {
  font-size: 14px;
  color: #555;
}

.movie-card span {
  font-weight: bold;
  color: #f39c12;
}
